body{
    background-color:#B6FFFA ;
    /* width: auto; */
    height: auto;
}
h1{
    font-family: 'Lumanosimo', cursive;
    color: #687EFF;
    text-align: center;
    font-size: 3rem;
}
.img-container{
    display: flex;
    justify-content: space-around;
}
.container{
    left: 50%;
    top:50%;
    transform: translate(50%,50%);
}
